reddixrobotics.com {
    handle /api/* {
        reverse_proxy backend:3000
    }
    handle /uploads/* {
        reverse_proxy backend:3000
    }
    handle {
        root * /srv
        try_files {path} {path}/ /index.html
        file_server
    }
}
